
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Share sell Calculate</title>
  </head>
  <body class="container">

    <!-- <form action="sell_amount_details">
        
        no of share : <input type="text" name="share_number"><br> 

       buy price: <input type="text" name="buy_price"> <br>
       sell price: <input type="text" name="sell_price"> <br>
       capital Gain Tax: <input type="text" name="capital_gain">
        <br>
        
        <input type="submit" value="Calculate">

    </form> -->



    <div class="px-4 py-5 my-5 text-center ">
      <form action="sell_amount_details">
        <img class="mb-4" src="{% static 'images/share_graph.png' %}"
        alt="" width="200" height="150">
        <h1 class="h3 mb-3 fw-normal">Calculate Selling Share</h1>
    
        <div class="form-floating  col-lg-6 offset-lg-3 mt-3 mb-4">
          <input type="text" class="form-control" id="floatingInput" name="share_number" 
          placeholder="No. of Shares">
          </div>

        <div class="form-floating  col-lg-6 offset-lg-3 mb-3">
          <input type="text" class="form-control" id="floatingInput" 
          name="buy_price" placeholder="Buying Price">
        </div>

        <div class="form-floating  col-lg-6 offset-lg-3 mb-3">
          <input type="text" class="form-control" id="floatingInput" 
          name="sell_price" placeholder="Selling Price">
        </div>
        
        <div class="form-floating  col-lg-6 offset-lg-3 mt-3 mb-4">
          <input type="text" class="form-control" id="floatingInput" 
          name="capital_gain" placeholder="Capital Gain Tax">
          </div>
          
        
    
       
        <button class="w-100 btn btn-lg btn-primary col-md-5 mt-4" type="submit">Calculate</button>
        <p class="mt-5 mb-3 text-muted">© Saphal Khanal</p>
      </form>
    </div>
  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>